/* 
    Created on : Jan 25, 2017, 4:49:18 PM
    Author     : grick
*/
//Background Gradient
//Usage
// @include linear-gradient()
@mixin linearGradient($top){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 50%, darken( nth( $top, 1 ), 10% ) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,darken( nth( $top, 1 ), 10% ))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 50%,darken( nth( $top, 1 ), 10% ) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 50%,darken( nth( $top, 1 ), 10% ) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 50%,darken( nth( $top, 1 ), 10% ) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 50%,darken( nth( $top, 1 ), 10% ) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


// Create a button
// Usage
// @include btn( color value );

@mixin btn( $color... ) {

    /* Normalize */
    font: inherit;
    margin: 0;
    outline: 0;
    border:0;
    padding: 7px 25px;

    //Set font color based on background color
    @if ( lightness( nth( $color, 1 ) ) > 50 ) {
        color: darken( nth( $color, 1 ), 50% );
    } @else {
        color: lighten( nth( $color, 1 ), 50% );
    }
    
    //Set background color
    @if length( $color ) >= 2 {
        background: linear-gradient( $color ); 
    } @else {
        background-color: nth( $color, 1 ); 
    }

    //Sets the hover state based on colors used
    &:hover {
        @if length( $color ) >= 2 {
            background: linear-gradient( lighten( nth( $color , 1 ), 20% ), lighten( nth( $color , 2), 20% ) );
        } @else {
            background-color: lighten( nth( $color , 1 ), 20% ); 
        }
    }
}
