/* 
    Created on : Jan 25, 2017, 4:44:15 PM
    Author     : grick
*/
/* 
    Created on : Jan 25, 2017, 4:49:18 PM
    Author     : grick
*/
@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed");
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: #CEE332; }

.red {
  color: red;
  background: url("../images/red-arrow.png") no-repeat left center;
  padding-left: 25px; }

.green {
  color: #0ea600;
  background: url("../images/green-arrow.png") no-repeat left center;
  padding-left: 25px; }

#load-calc {
  font-family: "Roboto", sans-serif; }

#login {
  text-align: center;
  width: 50% !important;
  height: 55% !important;
  border: 1px solid #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 7px;
  margin: auto; }

#login #username,
#login #password {
  width: 40%;
  padding: 7px;
  margin-bottom: 7px; }

#login .btn {
  /* Normalize */
  font: inherit;
  margin: 0;
  outline: 0;
  border: 0;
  padding: 7px 25px;
  color: #fafbfc;
  background-color: #6B7F8C; }
  #login .btn:hover {
    background-color: #a4b1b9; }

ul.mb-links {
  list-style-type: none; }

ul.mb-links li {
  text-align: center;
  padding-bottom: 25px; }

a.mb-link {
  /* Normalize */
  font: inherit;
  margin: 0;
  outline: 0;
  border: 0;
  padding: 7px 25px;
  color: #fafbfc;
  background-color: #6B7F8C;
  text-decoration: none;
  border-radius: 15px; }
  a.mb-link:hover {
    background-color: #a4b1b9; }

#order {
  width: 45%;
  height: 45%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 7px;
  margin: auto; }

.customer-info {
  padding-bottom: 20px; }

ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden; }

.ui-autocomplete-loading {
  background: white url("../images/spinner.gif") right center no-repeat; }

.main {
  padding-top: 70px; }

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 7px;
  border-bottom: 1px solid #6B7F8C;
  background: #6B7F8C;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6B7F8C 0%, #60727e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6B7F8C), color-stop(100%, #60727e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #6B7F8C 0%, #60727e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #6B7F8C 0%, #60727e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #6B7F8C 0%, #60727e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #6B7F8C 0%, #60727e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }
  .navbar .left {
    float: left;
    width: 50%; }
  .navbar .right {
    float: right;
    text-align: right;
    width: 50%; }
  .navbar a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px; }
    .navbar a:hover {
      color: #000000; }
    .navbar a:visited {
      color: #ffffff; }
  .navbar button {
    background: none;
    border: 1px solid #6B7F8C;
    padding: 7px;
    border-radius: 5px; }
    .navbar button:hover {
      background: #60727e; }

/*# sourceMappingURL=styles.css.map */
